<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome</h1>

<!-- // GET ALL PRODUCTS {{baseurl}}/v1/shops/{{shop_id}}/products.json
// GET ONE PRODUCT `${API_BASEURL}/v1/shops/${shop_id}/products/${product_id}.json`
// DELETE `${API_BASEURL}/v1/shops/${shop_id}/products/${product_id}.json`
// PUT /v1/shops/{shop_id}/products/{product_id}.json
// POST List Specific Product `${API_BASEURL}/v1/shops/${shop_id}/products.json`
// POST Publish product `${API_BASEURL}/v1/shops/${shop_id}/products/${product_id}/publish.json`
// POST succeeded `${API_BASEURL}/v1/shops/${shop_id}/products/${product_id}/publishing_succeeded.json` -->

</body>
</html>