<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merch - Cardano-Natives</title>
    <link rel="stylesheet" href="assets/merch.css" type="text/css">
    <script src="https://kit.fontawesome.com/e5e475af0a.js" crossorigin="anonymous"></script>
</head>
<body>
    <main>
        <nav>
            <h3><a href="">Cardano Natives</a></h3>
            <ul id="navUl">
                <li><a href="index.html" class="selected">Home</a></li>
                <li><a href="#shirt">Buy Shirt</a></li>
                <li><a href="#reviews">Reviews</a></li>
                <li><a href="#previous">Previous Months</a></li>
                <li><a href="shopping.html">Shopping Cart<i class="fa fa-shopping-cart"></i></a></li>
            </ul>

            <i class="fa-solid fa-bars-staggered"></i>
        </nav>

        <section id="shirt">  
            <div class="container">
                <div class="left-side" dir="ltr">
                    <img class="left-img" src="img/urbeni.jpeg">
                    <img class="left-img" src="img/ubreni2.jpeg">
                    <img class="left-img" src="img/ubrbeni3.jpeg">
                    <img class="left-img" src="img/urbeni.jpeg">
                    <img class="left-img" src="img/ubreni2.jpeg">
                    <img class="left-img" src="img/ubrbeni3.jpeg">
                    
                </div>
                <div class="right-side">
                    <div class="size-heading">
                        <h1>Cardona Hoodie By Cardana Creator</h1>
                        <p><strong>Unisex (Men's & Women's)</strong></p>
                    </div>
                    <div class="price-container">
                        <p class="price"><strong>$20</strong> / </p>
                    </div>
                    <div class="size-information">
                        <p>Select Size:</p>
                        <a href="#sizeGuide">Size Guide</a>
                    </div>
                    <div class="size-container">
                        <div class="size-box"><p>Small</p></div>
                        <div class="size-box"><p>Medium</p></div>
                        <div class="size-box"><p>Large</p></div>
                    </div>
                    <div class="description-box">
                        <h3>About</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, animi molestias impedit natus quaerat cupiditate? Totam distinctio facere error eum provident modi eligendi dolor possimus vel, cupiditate autem illo dolorum!</p>
                    </div>

                    <div id="sizeGuide">
                        <h3>Size Guide</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae explicabo, quos quae reprehenderit dolores rerum, ratione laudantium corrupti quo delectus quam ipsam vero a labore. Porro obcaecati accusamus sed blanditiis?</p>
                    </div>

                    <div class="buy-container">        
                        <div class="quant">
                            <select id="quantity-list">
                                <option value="one">1</option>
                                <option value="two">2</option>
                                <option value="three">3</option>
                                <option value="four">4</option>
                                <option value="five">5</option>
                            </select>
                        </div>

                        <button id="add-to-cart">Add to cart</button>
                    </div>

                    <div class="fabric-container">
                        <h3>Fabric Information</h3>
                        <p>37% Lorem</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="reviews">
            <h2>Reviews</h2>
            <div class="review-container">
                <div class="review-list">
                    <!-- <h3>All reviews</h3> -->
                    <!-- <p></p>> -->
                </div>
                <div class="input-review">
                    <form id="formId" action="/submit" method="post" enctype="application/x-www-form-urlencoded">
                    <label for="name"><h3>Submit your review</h3></label>
                        <input id="name" type="text" placeholder="name" name="username" autocomplete="off" required="true">
                        <textarea id="description" placeholder="Describe your experience" name="description"required="true"></textarea>
                        <button id="submit">Submit</button>
                    </form>
                </div>
            </div>
        </section>
        <section class="about">
            <h3>This Month's Shirt</h3>
            <p>We rotate with monthly designs to support creators and give projects awareness</p>
        </section>

        <section id="previous">
            <h2>Previous</h2>
        </section>
    </main>
    <script src="dist/src/merch.js"></script>
</body>
</html>