@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
:root {
    --primary-color: #012a4a;
    --color-white: #faf9f9;
    --color-blue: #0d3b66;
    --color-gray: 112, 121, 140;
}
* {
    scroll-behavior:smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    /* background: var(--color-white); */
    background: white;
}
                                /* styling the top nav bar */
nav {
    display: flex;
    position: sticky;
    top: 0;
    align-items:center;
    background: var(--primary-color);
    color: var(--color-white);
    z-index: 1;
    transition: transform 0.2s;
    width: 100%;
}
.nav--remove {
    transform: translateY(-50px);
}
nav ul {
    display: flex;
    gap: 2rem;
}
nav li, nav li a{
    color: rgba(var(--color-gray));
    text-decoration: none;
    list-style: none;
    transition: 0.1s;
}
nav a{
    text-decoration: none;
    color: var(--color-white);
}
nav li a:hover {
    font-size: 1.1em;
    color: var(--color-white);
}
.selected {
    color: var(--color-white);
}
nav h3 {
    margin-left: 0.8em;
}
.fa-solid.fa-bars-staggered {
    display: none;
}