@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
:root {
    --primary-color: #012a4a;
    --color-white: #faf9f9;
    --color-blue: #0d3b66;
    --color-gray: 112, 121, 140;
}
* {
    scroll-behavior:smooth;
    overflow-wrap: break-word;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background:rgba(250,249,249, 40%);
}
                                /* styling the top nav bar */
nav {
    display: flex;
    position: sticky;
    top: 0;
    align-items:center;
    background: var(--primary-color);
    color: var(--color-white);
    z-index: 1;
    transition: transform 0.2s;
    width: 100%;
}
.nav--remove {
    transform: translateY(-50px);
}
nav ul {
    display: flex;
    gap: 2rem;
}
nav li, nav li a{
    color: rgba(var(--color-gray));
    text-decoration: none;
    list-style: none;
    transition: 0.2s;
}
nav a{
    text-decoration: none;
    color: var(--color-white);
}
nav li a:hover {
    font-size: 1.1rem;
    color: var(--color-white);
}
.merch:hover {
        padding: 0.3em;
        border: 2px solid #99d98c;
        transform: translateY(-0.25em);
        box-shadow: 0 0.5em 1em -0.4em #99d98c;
        transition: 0.2s;
}
.selected {
    color: var(--color-white);
}
nav h3 {
    margin-left: 0.8em;
}
.fa-solid.fa-bars-staggered {
    display: none;
}


                                /* Styling the head page / monthly shirt */

section:nth-child(n+4) {
   min-height: 80vh;
   padding-top: 1.3rem;
   margin: 0.8em;
}

.main {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 0;
}
.main h1 {
    font-size: 3rem; 
    line-height: 1;
    padding-top: 0;
    margin: 0;
    /* border:1px solid green; */
    
}
.heading {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding-left: 0.8rem;
}
.container-oval {
    display: flex;
    gap: 0.3rem;
}
.container-oval .ovals {
    background: var(--color-blue);
    width: fit-content;
    border-radius: 360px;
    padding: 0.7rem;
}
.container-oval a {
    color: var(--color-white);
    text-decoration: none;
    padding: .5rem;
}
.box {
    display: flex;
    /* justify-content: center; */
    overflow-x:scroll;
    overflow-y:hidden;
    width: 80%;
    height: 50%;
    border-radius: 1rem;
    margin: 1rem;
}
.main .box img {
    width: 400px;
    height: 100%;
    object-fit:scale-down;
    /* opacity: 90%; */
}
.below-picture {
    display: flex;
    justify-content: space-around;
    width: 700px;
    height: 2rem;
    align-items: center;
    padding-bottom: 3rem;
    margin: 1rem 2rem 0 2rem;
    text-align:center;
}
.below-picture h3 a {
    color: var(--color-white);
    text-decoration: none;
}
.fa-solid.fa-arrow-left-long:hover, .fa-solid.fa-arrow-right-long:hover, #buyBtn:active {
    cursor:pointer;
    opacity: 70%;
}
.slide.first {
    transition: 0.5s;
}
#buyBtn {
    display: none;
}
.why-cardano-section {
    /* padding-top: 0; */
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 2rem;
    min-height: 55vh;
    background: gainsboro;
    /* gap: 2rem; */

}
.why-cardano-section h2 {
    margin: 0;
}
.explain-container {
    display: flex;
    justify-content: space-around;
    width: 95%;
    text-align: center;
}
.explain-boxes {
    margin: 0.3rem 0.3rem;
    padding: 1rem;
    word-wrap: break-word;
    overflow-wrap: anywhere;
    line-height: 30px;
    background: rgba(var(--color-gray), 40%);
    flex: 1;
    border-radius: 1rem;
    color: black;
}
.explain-boxes h3{
   min-height: 2rem;
}
.para-links {
   color: var(--primary-color);
   text-decoration: none; 
}
                                /* Styling the DApps page / List  */
.list-header {
    text-align: center;
    margin: 2rem 0.3rem;
    
}
#defi, #nfts, #industry {
    margin: 3rem;
}
#defiUl, #nftUl, #industryUl {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding:0.3rem;
    /* margin: 3rem; */
    background: rgba(var(--color-gray), 10%);
    overflow-y: scroll;
    max-height: 80vh;
    gap: 1rem;;
}
#defiUl li, #nftUl li, #industryUl li {
    padding: 0.3rem;
    width: 30%;
    background: rgba(var(--color-gray), 10%);
}
img {
    width: 240px;
}
                                              /* Footer */
footer {
    background: black;
    color: var(--color-white);
    height: 63vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-start;

}
.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 160px 1fr;
    justify-items: center;

}
.footer-container .box {
    display: flex;
    flex-direction: column;
}

.header-box {
    padding-top: 1rem;
    grid-column: span 2;
}
.attention {
    font-size: large;
    color: rgba(var(--color-gray));
}
.footer-container a {
    color: rgba(var(--color-gray));
    text-decoration: none;
}
.footer-container a:hover {
    text-decoration: underline;
}
.links-box h3, .contact-box h3 {
    margin-bottom: 1.7rem;
}

                                /* ===== MEDIA QUERIES (MEDIUM DEVICES) ===== */
@media screen and (max-width: 1024px) {
    h3 {
        font-size: large;
    }
    h2 {
        font-size: x-large;
    }
    section:nth-child(n+4) { 
        min-height: 60vh;
    }
    /* nav bar */
    nav {
        height: 4rem;
        align-items: flex-start;
    }
    nav ul {
        font-size: large;
    }
    /* head page - shirt page */
    .why-cardano-section {
        margin-top: 1rem;
        min-height: 53vh;
    }
    .list-header {
        margin: 3rem 2.3rem 2rem;
        
    }
    .explain-container {
        width: 82%;
        flex-direction: column;
        gap: 1rem;
    }
    /* lists */
    #defiUl, #nftUl, #industryUl {
        display: flex;
        flex-wrap: inherit;
        gap: 2rem;
    }
    #defiUl li, #nftUl li, #industryUl li {
        width: 65%;
        margin-top: 1rem;
    }
    /* footer */
    footer {
        height: 63vh;
    }
    .header-box {
        width: 87%;
    }
    .links-box, .contact-box {
        width: 70%;
    }


}

                                /* ===== MEDIA QUERIES (SMALl DEVICES) ===== */

@media screen and (max-width: 600px) {
     /* nav bar */
    nav {
        width: 100%;
        justify-content: space-evenly;
        align-items: center;

    }
    ul, ul li a {
        flex-direction: column;
    }
    #navUl {
        display: none;
        position: absolute;
        top:4rem;
        right: 1.2rem;
        padding: 1.2rem;
        background: var(--color-white);
    }

    .fa-solid.fa-bars-staggered {
        display: block; 
        font-size: 1.6rem;
    }
    .fa-bars-staggered:active {
        color: #252422;
        transition: 0.5s;
    }
    .check-call {
        display: none;
    }

    /* head page / shop */
    
    .below-picture {
        width: fit-content;
    }
    .below-picture i{
        display: none;
    }
    #buyBtn {
        display: block;
        position:absolute;
        background: var(--color-white);
        padding: 0.4rem 2rem;
        bottom: 65%;
        border-radius: 0.3em;
    }
    #buyBtn a {
        color: var(--color-blue);
        text-decoration: none;
    }
    #buyBtn:active{
        border: 2px solid var(--primary-color);
        cursor: pointer;
        transform: translateY(-0.25em);
        box-shadow: 0 0.5em 1em -0.4em var(--color-blue);
    }

    .explain-container {
        flex-direction: column;
        width: 90%;
    }
    .why-cardano-section h2 {
        margin: 2rem;
    }

    /* List Page */
    .container-oval {
        margin-bottom: 1rem;
    }
    #defiUl, #nftUl, #industryUl {
        display: grid;
        grid-template-columns: 1fr;
        padding:0.3rem;
        margin: 0;
        display: flex;
        flex-direction: row;
    }
    #defi, #nfts, #industry {
        margin: 2rem;   
    }
    #defiUl li, #nftUl li, #industryUl li {
        width: 100%;
    }

    /* Footer */
    footer {
        height: 78vh;
        padding: 0.3rem;
    }
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header-box {
        padding-top: 1rem;
    }
    .links-box, .contact-box {
        font-size: 0.9rem;
    }

}